{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'sass.css' %}" rel="stylesheet">
<div class="back">
    <a href="{% url 'Homepage_url' %}">Вернуться на главную</a>
</div>
<div class="block">SCSS-block</div>
<div class="note">
    <h4>Примечания:</h4>
    <ol>
        <li>
            Для Использовании скриптов в CSS таблицах используют 
            модифицированные таблицы SASS/SCSS.
        </li>
        <li>
            Файл с такими инструкциями должен иметь формат соотвтетственно 
            .scss или .sass.
        </li>
        <li>
            Браузеры не умеют читать стили в таких форматах. Скриптованный 
            файл необходимо преобразовать в обыкновенный css
        </li>
        <li>
            Это можно сделать двумя способами (оба описаны в первой ссылке):<br>
            Первый - с использованием командной строки и предустановленных пакетов. 
            Соответственно необходимо установить пакет на систему (для разных 
            систем разные способы). P.S. на винде у меня не вышло<br>
            Второй - установить программу, которая будет это делать сама.
        </li>
        <li>
            Удобная и бесплатная программа - koala (ссылка на скачивание ниже).
        </li>
        <li>
            После создания скрипта нужно запустить программу, выбрать папку с файлами 
            (директория сохраняется в истории) и нажать на файл и не изменяя настройки 
            на кнопку Compile. Программа самостоятельно найдет все скриптованный файлы 
            и преобразует их в .css формат.
        </li>
        <li>
            Не забудь импортировать все .css документы в основном шаблоне.
        </li>
        <li>
            При изменении .sass / .scss документа koala будет автоматически вносить 
            изменения в .css документ.
        </li>
        <li>
            Иногда адрес сохранения .css ломается. Тогда можно создать файл со своим 
            названием и указать его для компиляции. В данном примере sass_static.scss
            компилируется в sass.css
        </li>
    </ol>
    <!-- <p>
        Для Использовании скриптов в CSS таблицах используют модифицированные таблицы SASS/SCSS. 
        Файл с такими инструкциями должен иметь формат соотвтетственно .scss или .sass.

    </p> -->
</div>

<div class="links">
    <h4>Полезные ссылки:</h4>
    <ul>
        <li><a href="https://ru.hexlet.io/courses/css-sass/lessons/install/theory_unit">Статья Hexlet по использованию SASS (SCSS)</a></li>
        <li><a href="http://koala-app.com/">Скачать бесплатное приложение для трансформации SASS/SCSS в CSS</a></li>
    </ul>
</div>
{% endblock content %}