{% extends 'base.html' %}

{% block content %}
<ul>
    <li>
        <a href="{% url 'get_user_info_url' %}">Получение информации о пользователе</a>
    </li>
    <li>
        <a href="{% url 'm2m_url' %}">m2m связь с использованием промежуточной таблицы</a>
    </li>
    <li>
        <a href="{% url 'sass_url' %}">Использование SASS/SCSS</a>
    </li>
    <li>
        <a href="{% url 'case_when_url' %}">Изменение нескольких сущностей БД с условиями CASE-WHEN</a>
    </li>
</ul>
{% endblock content %}